/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.cache-main
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

src/main/resources/node/
src/main/resources/node_modules/
src/main/resources/static/client/
src/main/resources/static/index.html
src/main/resources/static/server.js
src/main/resources/templates/index.html
